<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update/Complete User Information</title>
</head>

<body>
    {{msg}} <br><br> Enter your password to proceed:<br>
    <form method="post" action="/updateuser" class="form-inline">
        <label for="qnt">Password:</label><br>
        <input type="password" id="pass" name="pass"><br>
        <button type="submit" name="update" class="btn btn-success">Enter</button>
    </form>
    <br>
    <form method="post" action="/profile" class="form-inline">
        <button type="submit" name="home" class="btn btn-success">Return Home</button>
    </form>
</body>

</html>